<div>
    <div class="card shadow w-100">
        <div class="card-header bg-light text-dark">
            <h4 class="card-title">Consulta de Tarefas</h4>
            <p class="card-subtitle">Informe o período de datas para consultar tarefas.</p>
        </div>
        <div class="card-body">
            <div class="text-dark">
                <strong>{{mensagem}}</strong>
            </div>
            
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="row mb-3">
                    <div class="col-md-2">
                        <Label>Data de início:</Label>
                        <input type="date" formControlName="dataMin" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label>Data de fim:</label>
                        <input type="date" formControlName="dataMax" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-success mt-4">
                            Pesquisar tarefas
                        </button>
                    </div>
                </div>

            </form>

            <table *ngIf="tarefas.length > 0" class="table table-sm table-responsive mt-4">
                <thead>
                    <tr>
                        <th>Nome da tarefa</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Finalizado</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tarefas">
                        <td>{{ t.titulo | uppercase }}</td>
                        <td>{{ t.data | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ t.hora }}</td>
                        <td>
                            <span *ngIf="t.finalizado" class="badge bg-success">
                                SIM
                            </span>
                            <span *ngIf="!t.finalizado" class="badge bg-warning">
                                NÃO
                            </span>
                        </td>
                        <td>
                            <span class="badge bg-secondary">
                                {{ t.categoria.nome | uppercase }}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary me-1"
                                (click)="onEditar(t)">
                                Editar
                            </button>
                            <button class="btn btn-sm btn-outline-danger me-1" data-bs-toggle="modal"
                                data-bs-target="#janela_exclusao" (click)="onExcluir(t)">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            Quantidade de tarefas: {{ tarefas.length }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="janela_exclusao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Aqui está a classe para ampliar a largura -->
        <div class="modal-content">
            <div class="modal-header bg-light text-dark">
                <h1 class="modal-title fs-5">Excluir tarefa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir esta tarefa?

                <table class="table table-bordered table-striped mt-2">
                    <thead class="table-dark">
                        <tr>
                            <th>Título</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Finalizado</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ tarefaSelecionada?.titulo | uppercase }}</td>
                            <td>{{ tarefaSelecionada?.data | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ tarefaSelecionada?.hora }}</td>
                            <td>
                                <span *ngIf="tarefaSelecionada?.finalizado" class="badge bg-success">SIM</span>
                                <span *ngIf="!tarefaSelecionada?.finalizado" class="badge bg-warning">NÃO</span>
                            </td>
                            <td>
                                <span class="badge bg-secondary">{{ tarefaSelecionada?.categoria?.nome | uppercase }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                (click)="onDelete()">Confirmar exclusão</button>
            </div>
        </div>
    </div>
</div>
